{% extends navbar.html %}



    <div class="welcome-message">
        <h1>Welcome to Tweet</h1>
    </div>

    <div class="create-tweet">
        <h2>Create Tweet</h2>
        <form action="#" method="POST" enctype="multipart/form-data">
            <label for="tweet-text">Text:</label>
            <textarea id="tweet-text" name="tweet-text" placeholder="What's happening?" required></textarea>

            <label for="tweet-photo">Photo:</label>
            <input type="file" id="tweet-photo" name="tweet-photo">

            <button type="submit" class="submit-btn">Tweet</button>
        </form>
    </div>
 {% endblock %}
</body>
</html>
